[Desktop Entry]
Name=Power Profiles Daemon Tray Applet
Comment=A simple tray applet for power-profiles-daemon to manage power profiles
Exec=ppd-tray-applet
Icon=ppd-tray-applet-balanced
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=false
